= render partial: 'shared/sidebar', locals: { groups: @groups }
.right
  .right__header
    .right__header__group
      .right__header__group--name
        = @group.name
      = link_to edit_group_path(@group), class: "right__header__group--edit-button" do
        Edit
    .right__header__users
      MEMBER:
      %span.right__header__users
        = @group.users.pluck(:name).join(", ")
  .right__body
    .right__body__messages__list
      = render @messages
  .right__footer
    = form_for [@group, @message] do |f|
      .right__footer__form
        .right__footer__form--body
          = f.text_area :body, placeholder: "Type a message", class: "right__footer__form--body-text"
          = f.label :image,class: "right__footer__form--body-file" do
            %i.fa.fa-picture-o
            = f.file_field :image, class: "image"
        = f.submit "Send", class: "right__footer__form--body-send"